
@import '../node_modules/compass-mixins/lib/compass/css3';

$textbox-size: 90%;

/* Text box */
.textbox {
	position: relative;
	display: none;
	z-index: 6;
	background: rgba(0, 0, 0, 0.80);
	width: $textbox-size;
	max-width: 615px;
	max-height: $textbox-size;
	padding: 0 20px 20px 20px;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: justify;
	text-justify: inter-word;	
}

.thead {
	display: block;
	position: relative;
	height: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}

.tcontent {
	padding-right: 10px;
	overflow: auto;
}


/* X icon */
.bar {
	width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

#textbox-x {
	position: absolute;
	top: 20px;
	right: -2px;
}

.textbox-x .bar {
	display: block;
	cursor: pointer;
}
.textbox-x:hover {
	cursor: pointer;
}
.bar:nth-child(1) {
	transform: translateY(4px) rotate(45deg);
}    
.bar:nth-child(2) {
	transform: translateY(-4px) rotate(-45deg);
}


/* scrollbar Style */
.tcontent::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
  }
  
.tcontent::-webkit-scrollbar-track {
	background: transparent;        /* color of the tracking area */
	border-radius: 20px;       /* roundness of the scroll thumb */
}

.tcontent::-webkit-scrollbar-thumb {
	background-color: transparent;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 1.5px solid white;  /* creates padding around scroll thumb */
}

